* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.25;
    color: #555;
}

header {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("../images/login.jpg");
    background-size: cover;
    background-position: top;
}

.signup {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

input {
    outline: none;
    border: none;
}

.page-linker {
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 28rem;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 2px 0 15px #222;
}

.page-linker>div {
    text-align: center;
}

.page-linker h1 {
    margin-bottom: 1.2rem;
}

.page-linker p {
    margin-bottom: 2.2rem;
}

.linker:link,
.linker:visited {
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.6rem 2.4rem;
    border-radius: 8px;
    border: 1px solid #0F2027;
    color: #0F2027;
    transition: all 0.4s;
}

.linker:active,
.linker:hover {
    color: #d7dde8;
    background-color: #0F2027;
}

.page-linker::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    box-shadow: 0 1px 10px #0F2027 inset;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
}

.page-linker::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    box-shadow: 0 1px 10px #0F2027 inset;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
}

form {
    overflow: hidden;
    position: relative;
    padding: 10rem;
    z-index: 1;
    color: #222;
    text-align: center;
    white-space: nowrap;
}

form h1 {
    margin-bottom: 2.4rem;
}

form::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-input {
    font-size: 1.2rem;
    color: #0F2027;
    background: none;
    border-bottom: 1px solid #203A43;
    padding: 0.7rem 1.4rem;
    margin-bottom: 1rem;
    outline: none;
}

.form-input:active {
    background: transparent;
}

.form-input:hover {
    background: transparent;
}

.form-input:visited {
    background: transparent;
}

.form-input::placeholder {
    font-size: 1.2rem;
    color: #203A43;
    opacity: 0.8;
}

.submit-btn {
    margin-top: 1.6rem;
    cursor: pointer;
    padding: 0.6rem 2.8rem;
    color: #d7dde8;
    border-radius: 10px;
    background-color: #203A43;
    border: 1px solid #0F2027;
    transition: all 0.4s;
}

.submit-btn:hover {
    background-color: #0F2027;
    border: 1px solid #0F2027;
}

.center-card {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.login-card {
    position: relative;
    text-align: center;
    padding: 8rem 2rem;
    border-radius: 15px;
}

.login-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.create-p {
    margin-top: 2rem;
}
.create-page:link,
.create-page:visited {
    text-decoration: none;
    color: #203A43;
    padding: 0.2rem 0.8rem;
    border-bottom: 1px transparent;
    transition: all 0.4s;
}

.create-page:hover,
.create-page:active {
    color: #0F2027;
    border-bottom: 1px #0F2027 solid;
}

.login-card form {
    padding: 0;
    background: transparent;
    margin: 0;
}

