<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="../css/home.css" />
  </head>

  <body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div class="nav-flex">
          <h3><a href="http://localhost:8000/home" class="pulzes-link pulzes">Pul<div>Z</div>es</a></h3>
          <nav class="nav nav-masthead justify-content-center float-md-right">
            <a class="nav-link signIn" href="http://localhost:8000/login">Sign In</a>
          </nav>
        </div>
      </header>
      <main class="px-3">
        <div class="heading-container">
          <h1 class="pulzes-link pulzes">Pul<div>z</div>es</h1>
        </div>
        <p class="lead">Welcome to Pulzes! <br /></p>
        <a
          href="#"
          class="my-btn"
          >Dive In
        </a>

      </main>

      <footer class="mt-auto text-white-50">
        <p>&copy; 2022</p>
      </footer>
    </div>

    <%- include("../partials/script.ejs")%>
  </body>
</html>
